{% extends 'base.html' %}
{% load bootstrap5 %}

{% load i18n %}

{% block content %}
  <div class="container">
    {% bootstrap_messages %}
    <h1 class="my-4">Автомобили</h1>
    <a class="nav-link" href="{% url 'create_vehicle' %}">{% trans 'Добавить автомобиль' %}</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>{% trans 'Гос. номер' %}</th>
          <th>{% trans 'Цена' %}</th>
          <th>{% trans 'Год выпуска' %}</th>
          <th>{% trans 'Пробег' %}</th>
          <th>{% trans 'Марка/модель' %}</th>
          <th>{% trans 'Предприятие' %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for vehicle in vehicles %}
        <tr>
          <td>{{ vehicle.id }}</td>
          <td><a class="text-decoration-none" href="#">{{ vehicle.number }}</a></td>
          <td>{{ vehicle.price }}</td>
          <td>{{ vehicle.release_year }}</td>
          <td>{{ vehicle.mileage }}</td>
          <td>{{ vehicle.brand }}</td>
          <td>{{ vehicle.enterprise }}</td>
          <td>
            <a class="text-decoration-none" href="#">{% trans 'Изменить' %}</a>
            <br>
            <a class="text-decoration-none" href="#">{% trans 'Удалить' %}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
  </div>
  <!-- /.container -->
{% endblock %}